body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url(https://scontent-mnl1-2.xx.fbcdn.net/v/t39.30808-6/361256166_749835927150824_8378063496627316104_n.png?_nc_cat=100&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFK94-mQnaKC4D14Gzfs_vEo2xpYA6iUNKjbGlgDqJQ0k5K1q9edH0XWExHxBUmVElQBUR54ty-UlcAYPilCfvZ&_nc_ohc=cIJH_aEZRlkQ7kNvgHmmM4v&_nc_oc=AdhUT4-Uqa5y3ALcrzuyuqhuAdDo4vmqGUKTX1zStwTa9v-aM70__htjfyTiAM88UlU&_nc_zt=23&_nc_ht=scontent-mnl1-2.xx&_nc_gid=AomNOjG-cegQpVeJCt2WMve&oh=00_AYCvZJxkzOFVwUsFskz-aSxeF7gmHeO22ynotEjmaLBkMw&oe=67BFDC70) no-repeat center center;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    background: rgba(255, 211, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
}

.lock-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.datetime p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.lock-form .submit-btn {
    background: #FFD300;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.lock-form .submit-btn:hover {
    background: #e6c200;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 211, 0, 0.8);
    padding: 10px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}
