body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.menu-item img {
    max-width: 100px;
    height: auto;
}

.header {
    background-color: #F1B60F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 2px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 40px;
    border-radius: 20rem;
    margin-left: 50px;
}

.site-title {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.lock-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.section-title{
    padding-top:5rem;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 20px;
}

.menu-section {
    width: 70%;
}

.order-summary-section {
    width: 28%;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 1px 30px #f1b60f;
    position: fixed;
    right: 20px;
    top: 80px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}